.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 80%;
    height: 120px;
   
}

.card-body {
    text-align: center;
}

.card-body .btn {
    width: 48%;

}
@media (max-width: 768px) {
    .card-img-top {
        width:100%;
       height: 100px;
       
    }
}
