.container {
  padding: 20px;
}

.wishlist-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  overflow: hidden; /* دي مهمة عشان الشريط ميطلعش برة الصورة */
}

.image-section {
  position: relative;
}

.product-image {
  width: 100% !important;
  height: 150px;
}
.product-image{
  width: 90% !important;
  height: 120px !important;
}


.add-to-cart {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#000;
  color: #fff;
  padding: 5px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  display: block; 
  cursor: pointer;
}
.NAMEEE{
  font-size: 18px;
  font-weight: 700;
}

.product-card:hover .add-to-cart {
  transform: translateY(0);
  background-color:#000;


}


.Ruppish {
  position: absolute;
  top: 10px;
  font-size: 18px;
  right: 10px;
  cursor: pointer;
}

.eye-icon {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #000;
}

.details-section {
  text-align: center;
}
.product-card{
  transition: 1s;
}
.product-card:hover {
  transform: scale(1.05); /* تكبير الكارد */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.details-section h5, .details-section h6 {
  margin: 10px 0;
}

.details-section span {
  text-decoration: line-through;
  color: #888;
}

.star {
  color: #f0ad4e;
}
.wishlist-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr); /* لكل شاشتين جنب بعض */
}

@media (max-width: 768px) {
  .wishlist-grid {
    grid-template-columns: 1fr; 
  }
}
.wishlist-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); /* 3 أعمدة افتراضية لشاشات اللابتوب */
}
.BBBBBH{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.Wishlist{
  font-size: 22px;
  font-weight: 700;
}
.All{
  width: 150px !important;
  background-color: #000;
} 



@media (max-width: 768px) {
  .wishlist-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 أعمدة للشاشات المتوسطة والصغيرة */
  }
}

@media (max-width: 580px) {
  .wishlist-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 أعمدة للشاشات الأقل من 580 بكسل */
  }
}

@media (max-width: 400px) {
  .wishlist-grid {
    grid-template-columns: 1fr; /* عمود واحد للشاشات الأصغر مثل الأجهزة المحمولة */
  }
}



.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
