.navbar {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.container {
  width: 100%;
}

.navbar-collapse {
  flex-grow: 1;
  justify-content: space-between;
  text-align: center; /* يجعل النص في الوسط */
}

.navbar-nav {
  flex-direction: column; /* يجعل العناصر عمودية */
  align-items: center; /* يجعل العناصر في الوسط */
}

.navbar-nav .nav-link {
  margin-right: 20px;
  color: #000;
}

.form-control {
  max-width: 300px;
  margin-right: 10px;
}

#Exclusive {
  font-size: 30px;
  color: #000;
}
.BO{
  display: flex;flex-direction: row;
}
.BO small{
  color: #000;
  font-weight: 700;
  color: #DB4444;
}
.BO #HEART{
  color: #DB4444 !important;
}

#LL {
  font-size: 16px;
  font-weight: 700;
 
  color: #000;
}

#HEART, #CARTT {
  font-size: 22px;
  color: #000;
}
@media screen and (max-width: 767px) {
.SARESH{
  display: none;
}
}

