.navbar-nav .nav-link {
    margin-right: 20px;
  }
  
  .form-control {
    max-width: 300px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
  }
  
  .navbar-collapse {
    justify-content: space-between;
  }
.RR{
    color: black !important;
}  
.NNN{
    margin-left: auto;
    margin-right: auto;
  display: flex;
  justify-content: space-between;
  color: black !important;
  flex-direction: column;
}
#Exclusive{
    font-size: 30px;
}
#LL{
font-size: 16px;
font-weight: 700;
}
#HEART,#CARTT{
    font-size: 22px;
}