.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000 !important;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
 
}

.left-section a {
  color: #fff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.left-section {
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.right-section {
  font-size: 14px;
  white-space: nowrap;
}

.left-section a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  font-weight: bold;
}

.arrow-down {
  margin-left: 5px;
}

@media (max-width: 767px) {
  
  .right-section {
    display: block;
    font-size: 12px; /* تقليل حجم الخط إذا لزم الأمر */
  }
  .right-section{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 10px 20px;
  }

  .right-section {
    display: block;
  }
}
