/* topnav.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  background-color: #000 !important;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}
/* .For{
  display: none !important;
} */


.left-section a {
  color: #fff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-section {
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.right-section {
  font-size: 14px;
  white-space: nowrap;
}

.left-section a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  font-weight: bold;
}

.arrow-down {
  margin-left: 5px;
}

@media (max-width: 767px) {
  .right-section {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 10px 20px;
  }

  .right-section {
    display: block;
  }
}

/* nav.css */

.navbar {
  position: relative; /* تأكد من أن الـ Navbar ليس ثابتاً */
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.container {
  width: 100%; /* تأكد من أن الحاوية تمتد على عرض الصفحة بالكامل */
}

.navbar-collapse {
  flex-grow: 1;
  justify-content: space-between; /* تأكد من توزيع العناصر بشكل متساوي */
}

.navbar-nav .nav-link {
  margin-right: 20px;
  color: #000; /* تأكد من أن النص داخل الروابط باللون الأسود */
}

.form-control {
  max-width: 300px;
  margin-right: 10px; /* تأكد من وجود مسافة بين حقل البحث والزر */
}

#Exclusive {
  font-size: 30px;
  color: #000; /* تأكد من أن النص باللون الأسود */
}

#LL {
  font-size: 16px;
  font-weight: 700;
  color: #000; /* تأكد من أن النص باللون الأسود */
}

#HEART, #CARTT {
  font-size: 22px;
  color: #000; /* تأكد من أن الأيقونات باللون الأسود */
}

@media (max-width: 767px) {
  .navbar-nav .nav-link {
    margin-right: 10px; /* تقليل المسافة بين الروابط في الشاشات الصغيرة */
  }
  .form-control {
    max-width: 200px; /* تقليل عرض حقل البحث في الشاشات الصغيرة */
  }
  #Exclusive {
    font-size: 24px; /* تقليل حجم النص في الشاشات الصغيرة */
  }
  #LL {
    font-size: 14px; /* تقليل حجم النص في الشاشات الصغيرة */
  }
  #HEART, #CARTT {
    font-size: 20px; /* تقليل حجم الأيقونات في الشاشات الصغيرة */
  }
}
