#custom-container {
    padding: 20px;
}

#custom-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
}

#contact-info-section {
    padding: 20px;
    border-radius: 8px;
    width: 30%;
   
}

#phone-icon-text,
#email-icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#phone-icon,
#email-icon {
    margin-right: 10px;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

p {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

#custom-divider {
    margin: 20px 0;
}

#contact-form {
    padding: 20px;
    border-radius: 8px;
    width: 65%;
    background-color: #fff;
    
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#message-textarea {
    height: 150px;
    resize: none;
}

#send-button {
    background: #DB4444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

#send-button:hover {
    background-color: #c0392b;
}
#contact-form{
    margin-top: 70px;
}
@media (max-width: 991.98px) {
    #custom-row {
        flex-direction: column;
    }
    #contact-form{
        margin-top: 0;
    }

    #contact-info-section,
    #contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

    #send-button {
        margin-top: 10px;
    }

    #input-group {
        flex-direction: column;
    }

    #input-group input {
        margin-bottom: 10px;
    }
}

@media (max-width: 575.98px) {
    h6 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    #send-button {
        font-size: 14px;
        padding: 8px 15px;
    }
}
